.card-main {
  padding: 40px;
  margin-bottom: 60px;
  box-shadow: 0 0 10px rgb(184, 184, 184);
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.date {
  text-align: right;
}

.Title {
  font-weight: bold;
}

.review-card-content .grade {
  font-size: x-large;
}

.card-main hr {
  margin-top: 50px;
}

.review-card-comment-section h2 {
  padding-top: 40px;
  text-align: center;
}

.review-card-comment-section h3 {
  padding-bottom: 10px;
}
form button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 12px 40px;
  border: 0;
  background-color: #9fa4c4;
  background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
}

form button:hover {
  box-shadow: 0 0 10px rgb(72, 141, 245);
}

.card-main .comment {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(230, 230, 230);
  background-color: #f7f7f7;
}

.card-main .user-comment {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(230, 230, 230);
  background-color: #ffffff;
}

.card-main img {
  border-radius: 90px;
}

.card-main .user-comp {
  display: inline-flex;
  align-items: center;
}

.card-main .user-comp h3 {
  align-items: center;
  margin: 0 0 0 10px;
  padding: 0;
}

.card-main .user-comment p {
  border-radius: 10px;
  padding: 10px 25px;
}
