.carousel-image {
    height: 75vh;
    width: 100%;
    object-fit: cover;
}

.carousel-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: #000;
}